footer {
  margin-top: 2.5rem;
  color: #333;
  background-color: white;
  border-top: 1px solid #e6e6fa;
  padding-bottom: 1rem;
}

footer > .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
}

footer .footer-container > .row {
  width: 100%;
  display: flex;
  gap: 3rem;
}

footer .row p {
  font-size: 0.9rem;
  color: #8a2be2;
  margin-bottom: 0.8rem;
}

footer .footer-container ul {
  list-style: none;
}

footer .footer-container a {
  text-decoration: none;
  color: #333;
}

footer .footer-container a:hover {
  color: #8a2be2;
}

footer .footer-container ul li,
footer span {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
}
