.publisher-section {
  width: 80%;
  margin: 0em auto;
}

.publisher-section > h2 {
  color: #333;
  margin-top: 2.5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.publisher-section > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  gap: 1rem;
}

.publisher-section li {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.125);
}

.publisher-section a {
  text-decoration: none;
  color: #333;
}

.publisher-section li:hover {
  background-color: #f8f9fa;
  scale: 1.02;
  transition: scale 0.3s ease;
}
